//
   Created by mdiviesti on 3/3/16.

extends template

block content
    div.row.main-content
        div.large-12.columns
            p= 'Please enter the weight of your 1RM'
            div
                form(action='/weight',method='post')
                    label(for='weight') 1RM
                    input(id='weight',type='text',placeholder='lbs',name='weight')
                    input(type='submit',value='submit',data-transition='fade', data-theme='c')