//
   Created by mdiviesti on 3/3/16.
html
    head
        title= 'Wendler 5-3-1 Calculator'
        link(rel='stylesheet', href='http://cdn.foundation5.zurb.com/foundation.css', type='text/css' )
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
        script(src='http://cdn.foundation5.zurb.com/foundation.js')
    body
    block content